
.idea/workspace.xml
.idea/personalization-handbook.iml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
a-gentle-intro-to-personalization-for-everyone/.ipynb_checkpoints/Measurement - synthetic control-checkpoint.ipynb
a-gentle-intro-to-personalization-for-everyone/_build/.doctrees/landing-page.doctree
a-gentle-intro-to-personalization-for-everyone/_build/.doctrees/Measurement - synthetic control.doctree
a-gentle-intro-to-personalization-for-everyone/_build/html/_panels_static/panels-main.c949a650a448cc0ae9fd3441c0e17fb0.css
a-gentle-intro-to-personalization-for-everyone/_build/html/_panels_static/panels-variables.06eb56fa6e07937060861dad626602ad.css
a-gentle-intro-to-personalization-for-everyone/_build/html/reports/Measurement - synthetic control.log
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control.ipynb
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control.py
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_20_0.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_25_0.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_28_1.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_29_0.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_33_0.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_47_0.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_50_0.png
a-gentle-intro-to-personalization-for-everyone/_build/jupyter_execute/Measurement - synthetic control_8_0.png
a-gentle-intro-to-personalization-for-everyone/.ipynb_checkpoints/Measurement - synthetic control-checkpoint.ipynb
