
.idea/workspace.xml
.idea/personalization-handbook.iml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
a-gentle-intro-to-personalization-for-everyone/_build/
